* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
}

html {
  font: 400 10px/1 "Hiragino Sans GB","WenQuanYi Micro Hei",tahoma,sans-serif;
}

.wrapper {
  margin: 1.5rem;
  padding: .8rem 1rem 1rem;
  background: #f9f9f9;
  border-radius: 3px;
  box-shadow: 0 0 1rem rgba(0,0,0,0.5);
  -webkit-app-region: drag;
}

.header {
  display: flex;
  margin-bottom: .5rem;
}

.header h1 {
  flex: 1;
  font-size: 1.5rem;
  font-weight: normal;
  padding-top: .3rem;
  cursor: default;
  -webkit-app-region: drag;
}

.header h1 a {
  color: #666;
  text-decoration: none;
}

.header ul {
  flex: 0 auto;
  display: block;
  list-style-type: none;
}

.header ul > li {
  display: inline-block;
}

.header ul > li > a {
  display: block;
  width: 2rem;
  height: 2rem;
  transition: .3s;
  cursor: pointer;
  color: #ccc;
}

.header ul > li > a:hover {
  color: #39f;
}

.commands {
  height: 20rem;
  border: 1px solid #ccc;
  margin-bottom: .5rem;
}

.electron {
  height: 20rem;
  border: 1px solid #ccc;
}
